*~

*.pyc
*.pyo
__pycache__/

.idea/
.project
.eclipse/
.pydevproject
.settings/
.vscode/

#libreoffice lock files
.~lock.*

# combined csv files for debugging
Combined-*.csv


# singularity images
*.sif

# graphs outputs
scripts/graphs/out/

# losses files
*.losses

# Link to original maps
maps-old

# folders kept handy for reference and debugging
**/old-to-ignore/
scripts/graphs/out-gottardo/

# scheduled jobs and logs
scheduled_jobs/*
!scheduled_jobs/*.sh