*~

*.pyc
*.pyo
__pycache__/

.idea/
.project
.eclipse/
.pydevproject
.settings/
.vscode/
scripts/graphs/out/

# losses files
*.losses
# Link to original maps
maps-old

#libreoffice lock files
.~lock.*

#logs produced locally and on the cluster
scheduledJobs/local/
scheduledJobs/logs/

# combined csv files for debugging
Combined-*.csv


# singularity images
*.sif
